html{
  background-color: cadetblue;
}

body{
  text-align: center;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.profile{
  margin: 5em auto 1em;
  width: 20em;
  height: 20em;
  border-radius: 2em;
  box-shadow: inset 0px 0px 10px;
  background-image: url('../img/fenner.jpg');
  background-size: 100%;
}

.contact{
  color: #fff;
  font-family: sans-serif;
  text-transform: uppercase;
}
